<html>

<head>
    <title>Hambaravikeskus</title>
    <link rel="stylesheet" th:href="@{/cs/main.css}" />
</head>

<body th:style="'background: url(/images/dental.jpg) no-repeat center center fixed;'">
<header>

    <div class="headerSide">
        &nbsp;
    </div>
    <div class="header1">

        <a class="headerLink" th:href="@{/}" th:text="#{frontpage}"></a>

    </div>
    <div class="header2">

        <a class="headerLink" th:href="@{/newAppointment}" th:text="#{appointment.new}"></a>

    </div>
    <div class="header3">

        <a class="headerLink" th:href="@{/appointmentList}" th:text="#{appointment.list}"></a>

    </div>
    <div class="headerSide">
        &nbsp;
    </div>

</header>
<div style="min-height: 5%">

</div>
<div id="container" style="min-height: 85%">
    <div class="sideElem">
        &nbsp;
    </div>

    <div class="mainElem">
        <div class="mainTop">
            Registreeringu Muutmine
        </div>
        <form action="#" th:action="@{/appointment}" th:object="${dentistVisitCreateDTO}" method="post" class="mainForm">
    <table>
        <tr>
            <td><p th:text="#{dentist.name}"></p></td>
            <td>
                <select  id="dentistId" name="dentistId">
                    <option th:each="dentist : ${dentists}" th:value="${dentist.getId()}" th:text="${dentist.getName()}" th:selected="${dentist.getId()} == ${appointment.dentist.getId()}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('dentistId')}" th:errors="*{dentistId}"></td>
        </tr>

        <tr>
            <td><p th:text="#{service.type}"></p></td>
            <td>
                <select  id="serviceId" name="serviceId">
                    <option th:each="service : ${services}" th:value="${service.getId()}" th:text="${service.getTypeName()}" th:selected="${service.getId()} == ${appointment.service.getId()}">
                    </option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('serviceId')}" th:errors="*{serviceId}">service.error</td>
        </tr>

        <tr>
            <td><p th:text="#{visit.date}"></p></td>
            <td><input id="date" type="date" th:field="*{visitDate}"></input></td>
            <td th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}">date.error</td>
        </tr>

        <tr>
            <td><p th:text="#{visit.time}"></p></td>
            <td>
                <select id="visitTime" name="visitTime">
                    <option th:each="time : ${allTimes}" th:value="${time}" th:text="${time}" th:selected="${time} == ${appointment.getTime()}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td><p th:text="#{client.name}"></p></td>
            <td><input id="name" type="text" th:field="*{clientName}"></input></td>
            <td th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}">date.error</td>
        </tr>
        <tr>
            <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">time.error</td>
        </tr>
        <tr>
            <td>
                <input type="hidden" th:field="*{id}" th:value="${appointment.getId()}"></input>
                <button class="button" type="submit" th:text="#{appointment.update}"></button>
            </td>
        </tr>
    </table>
</form>

    </div>
    <div class="sideElem">
        &nbsp;
    </div>


</div>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    let dateIn = [[${appointment.getDate()}]];
    let name = [[${appointment.getClientName()}]];

    //116-122 form https://stackoverflow.com/a/12347050
    let convertedDate = new Date(dateIn);

    let day = ("0" + convertedDate.getDate()).slice(-2);
    let month = ("0" + (convertedDate.getMonth() + 1)).slice(-2);
    let selectedDate = convertedDate.getFullYear()+"-"+(month)+"-"+(day) ;

    let today = new Date();
    document.getElementById('date').setAttribute("min",today);
    document.getElementById("date").value = selectedDate;
    document.getElementById("name").value = name;



    /*]]>*/
</script>

</html>