
<html>
<head>
    <title>Hambaravikeskus</title>
    <link rel="stylesheet" th:href="@{/cs/main.css}" />
</head>
<body th:style="'background: url(/images/dental.jpg) no-repeat center center fixed;'">



<header>

    <div class="headerSide">
        &nbsp;
    </div>
    <div class="header1">

        <a class="headerLink" th:href="@{/}" th:text="#{frontpage}"></a>

    </div>
    <div class="header2">

        <a class="headerLink" th:href="@{/newAppointment}" th:text="#{appointment.new}"></a>

    </div>
    <div class="header3">

        <a class="headerLink" th:href="@{/appointmentList}" th:text="#{appointment.list}"></a>

    </div>
    <div class="headerSide">
        &nbsp;
    </div>

</header>


<div style="min-height: 5%">

</div>
<div id="container" style="min-height: 85%">

    <div class="sideElem">
        &nbsp;
    </div>

    <div class="mainElem">
        <div class="mainTop">
            Registreeritud Visiidid
        </div>
        <table>
            <tr>

                <td><p th:text="#{dentist.name}"></p></td>

                <td>
                    <select id="dentist">
                        <option> </option>
                        <option th:each="dentist : ${dentists}" th:value="${dentist.getId()}" th:text="${dentist.getName()}">
                        </option>
                    </select>
                </td>


            </tr>
            <tr>
                <td><p th:text="#{service.type}"></p></td>
                <td>
                    <select id="service">
                        <option> </option>
                        <option th:each="service : ${services}" th:value="${service.getId()}" th:text="${service.getTypeName()}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><p th:text="#{date.from}"></p></td>
                <td><input id="startDate" type="date"/></td>
            </tr>
            <tr>
                <td><p th:text="#{date.until}"></p></td>
                <td><input id="endDate" type="date"/></td>
            </tr>
            <tr>
                <td>
                    <button type="button" onclick="filterResults()" th:text="#{filter}"></button>
                </td>
            </tr>
        </table>

        <table style="border-collapse: separate; border-spacing: 20px; padding-top: 30px;">
            <tr>
                <th th:text="#{client.name}"></th>
                <th th:text="#{dentist.name}"></th>
                <th th:text="#{service.type}"></th>
                <th th:text="#{visit.date}"></th>
                <th th:text="#{visit.time}"></th>

            </tr>
            <tr th:each="appointment : ${appointments}" style="padding-bottom: 30px;">

                <td th:text="${appointment.getClientName()}"></td>
                <td th:text="${appointment.dentist.getName()}"></td>
                <td th:text="${appointment.service.getTypeName()}"></td>
                <td th:text="${appointment.getDate()}"></td>
                <td th:text="${appointment.getTime()}"></td>
                <td>
                    <a class="link" th:href="@{/appointment(id=${appointment.getId()})}" th:text="#{edit}"></a>
                </td>
                <td>
                    <form th:id="'delete' + ${appointment.getId()}" th:action="@{/appointment/delete}" th:object="${deleteDTO}" method="post">
                        <input  type="hidden"  name="id" th:value="${appointment.getId()}"></input>
                        <button class="link" type="submit" th:text="#{appointment.delete}"></button>

                    </form>
                </td>

            </tr>
        </table>



    </div>

    <div class="sideElem">
        &nbsp;
    </div>


</div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
        let url = "http://localhost:8080/appointmentList?"

        function filterResults(){

            if(document.getElementById("dentist").value.length > 0){
                url = url + "dentistId=" + document.getElementById("dentist").value;
            }
            if(document.getElementById("service").value.length > 0){
                if(url !== "http://localhost:8080/appointmentList?"){
                    url = url + "&";
                }
                url = url + "serviceId=" + document.getElementById("service").value;
            }
            if (document.getElementById("startDate").value.length > 0){
                if(url !== "http://localhost:8080/appointmentList?"){
                    url = url + "&";
                }
                url = url + "startDate=" + document.getElementById("startDate").value;
            }
            if (document.getElementById("endDate").value.length > 0){
                if(url !== "http://localhost:8080/appointmentList?"){
                    url = url + "&";
                }
                url = url + "endDate=" + document.getElementById("endDate").value;
            }
            window.location.href = url;
            url = "http://localhost:8080/appointmentList?";
        }



    /*]]>*/
</script>
</html>