
<html>

<head>
    <title>Hambaravikeskus</title>
    <link rel="stylesheet" th:href="@{/cs/main.css}" />
</head>
<body th:style="'background: url(/images/dental.jpg) no-repeat center center fixed;'">
<header>

    <div class="headerSide">
        &nbsp;
    </div>
    <div class="header1">

        <a class="headerLink" th:href="@{/}" th:text="#{frontpage}"></a>

    </div>
    <div class="header2">

        <a class="headerLink" th:href="@{/newAppointment}" th:text="#{appointment.new}"></a>

    </div>
    <div class="header3">

        <a class="headerLink" th:href="@{/appointmentList}" th:text="#{appointment.list}"></a>

    </div>
    <div class="headerSide">
        &nbsp;
    </div>

</header>
<div style="min-height: 5%">

</div>
<div id="container" style="min-height: 85%">
<div class="sideElem">
    &nbsp;
</div>


    <div class="mainElem">
        <div class="mainTop">
            Visiidi Registreerimine
        </div>
    <form action="#" th:action="@{/newAppointment}" th:object="${dentistVisitCreateDTO}" method="post" class="mainForm">
        <table>
            <tr>

                <td><p th:text="#{dentist.name}"></p></td>

                <td>
                    <select th:field="*{dentistId}">
                        <option th:each="dentist : ${dentists}" th:value="${dentist.getId()}" th:text="${dentist.getName()}"></option>
                    </select>

                </td>
                <td th:if="${#fields.hasErrors('dentistId')}" th:errors="*{dentistId}"></td>


            </tr>
            <tr>
                <td><p th:text="#{service.type}"></p></td>
                <td>
                    <select th:field="*{serviceId}">
                        <option th:each="service : ${services}" th:value="${service.getId()}" th:text="${service.getTypeName()}"></option>
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('serviceId')}" th:errors="*{serviceId}">service.error</td>
            </tr>
            <tr>
                <td><p th:text="#{visit.date}"></p></td>
                <td>
                    <input id="date" type="date" th:field="*{visitDate}"></input>
                </td>
                <td th:if="${#fields.hasErrors('visitDate')}" th:errors="*{visitDate}">date.error</td>
            </tr>
            <tr>
                <td><p th:text="#{visit.time}"></p></td>
                <td>
                    <select th:field="*{visitTime}">
                        <option th:each="time : ${allTimes}" th:value="${time}" th:text="${time}"></option>
                    </select>
                </td>

            </tr>
            <tr>
                <td><p th:text="#{client.name}"></p></td>
                <td>
                    <input type="text" th:field="*{clientName}"></input>
                </td>
                <td th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}">client.error</td>
            </tr>
            <tr>
                <td th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">time.error</td>
            </tr>
            <tr>
                <td>
                    <button type="submit" th:text="#{appointment.create}"></button>
                </td>
            </tr>
        </table>
    </form>
    </div>
</div>
<div class="sideElem">
    &nbsp;
</div>






</body>

<script th:inline="javascript">
    /*<![CDATA[*/

    let date = new Date();
    if(document.getElementById("date").value.length === 0){
        document.getElementById("date").valueAsDate = date;
    }
    document.getElementById('date').setAttribute("min",date);


    /*]]>*/
</script>

</html>