
<html>

<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
</style>

<body th:style="'background: url(/images/dental.jpg) no-repeat center center fixed;'">




<div class="center">
    <div style="float: left; padding: 20px; border-radius: 25px; background-color: rgba(255, 255, 255, 0.9)">
        <a th:href="@{/newAppointment}" th:text="#{appointment.new}" style="text-decoration: none; color: black; font-weight: bold">appointment.new</a>
    </div>
    <div style="padding-left: 25px ; padding-right: 25px">

    </div>
    <div style="float: left; padding: 20px; border-radius: 25px; background-color: rgba(255, 255, 255, 0.9)">
        <a th:href="@{/appointmentList}" th:text="#{appointment.list}" style="text-decoration: none; color: black; font-weight: bold">appointment.list</a>
    </div>
</div>

</body>
</html>