
<html>

<head>
    <title>Hambaravikeskus</title>
    <link rel="stylesheet" th:href="@{/cs/main.css}" />
</head>
<body th:style="'background: url(/images/dental.jpg) no-repeat center center fixed;'">
<header>

    <div class="headerSide">
        &nbsp;
    </div>
    <div class="header1">

        <a class="headerLink" th:href="@{/}" th:text="#{frontpage}"></a>

    </div>
    <div class="header2">

        <a class="headerLink" th:href="@{/newAppointment}" th:text="#{appointment.new}"></a>

    </div>
    <div class="header3">

        <a class="headerLink" th:href="@{/appointmentList}" th:text="#{appointment.list}"></a>

    </div>
    <div class="headerSide">
        &nbsp;
    </div>

</header>
<div style="min-height: 5%">

</div>
<div id="container" style="min-height: 85%">
    <div class="sideElem">
        &nbsp;
    </div>
    <div class="mainElem">
        Registreering edukalt edastatud
    </div>
    <div class="sideElem">
        &nbsp;
    </div>
</div>





</body>

</html>