header{
    text-align: center;
    min-height: 10%;
    background-color: floralwhite;
    border-radius: 25px
}
/* .link https://stackoverflow.com/a/5901776 */
.link {
    text-decoration: none;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-weight: bold;
    color: #000;
}

.editRef{
    text-decoration: none;
    color: #000;
}

.mainElem{
    min-width: 60%;
    min-height: 100%; float: left;
    padding-top: 80px;
    background-color: rgba(255, 255, 255, 0.9)
}

.sideElem{
    min-width: 20%;
    float: left;
}

.mainTop{
    text-align: center;
    font-size: xx-large;
    padding-bottom: 40px
}

.headerSide{
    min-width: 5%;
    float: left
}

.header1{
    min-width: 15%;
    max-width: 15%;
    float: left;
    text-align: center;
    padding-top: 20px
}

.header2{
    max-width: 25%;
    min-width: 25%;
    float: left;
    padding-top: 20px
}

.header3{
    max-width: 35%;
    min-width: 35%;
    float: left;
    padding-top: 20px
}

.headerLink{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: larger
}

.mainForm{
    margin-left: auto;
    margin-right: auto;
    width: 40%
}